Repository gregrickaby/preschool-flashcards: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, markdown

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=.stylelintrc.js --fix

prettier:
  run: npx prettier {staged_files} --config=.prettierrc.js --write

markdown:
  run: npx markdownlint {staged_files} --config=.markdownlint.json --fix

fix dev script
  package.json
Due: prettier

remove engines
  package.json
Due: prettier

fix license
  package.json
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

ignore keyframes
  .stylelintrc.js
Due: eslint

tailwind v3 upgrade
  postcss.config.js
  tailwind.config.js
Due: eslint

depdency bump
  package-lock.json
  package.json
Due: prettier

dependency bump
  next-sitemap.config.js
  package-lock.json
  package.json
Due: eslint, prettier

Update assertions.yml
  .github/workflows/assertions.yml
Due: prettier

dependency bump. next 14 compt.
  components/BackButton.js
  next.config.js
  package-lock.json
  package.json
  pages/index.js
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
  public/sw.js
  public/workbox-6a1bf588.js
Due: eslint, prettier

Update README.md
  README.md
Due: prettier, markdown

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
  markdown: any of: *.md
