Repository gregrickaby/preschool-flashcards: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, markdown

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files} --config=.stylelintrc.js --fix
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier {staged_files} --config=.prettierrc.js --write
    markdown:
      glob: '*.md'
      run: npx markdownlint {staged_files} --config=.markdownlint.json --fix

dependency bump
  package-lock.json
  package.json
Due: prettier

Change website link in README
  README.md
Due: prettier, markdown

Change website link in README (#632)
  README.md
Due: prettier, markdown

Update site name and URL in config
  lib/config.js
Due: eslint

dependency bump
  package-lock.json
Due: prettier

dependency bump
  nixpacks.toml
  package.json
Due: prettier
